* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  overflow-x: hidden;
}

/* NAV */
nav {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  padding: 25px 80px;
  font-size: 20px;
  color: #333;
}

nav li {
  list-style: none;
  cursor: pointer;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 140px;
}

/* TEXTO PRINCIPAL */
.hero-text h1 {
  font-size: 90px;
  font-weight: bold;
  line-height: 1.1;
  color: #5a34d3;
  margin-bottom: 50px;
}

.hero-text p {
  font-size: 22px;
  width: 500px;
  color: #444;
  margin-bottom: 40px;
}

/* BOTÓN */
.hero-text button {
  font-size: 20px;
  padding: 18px 45px;
  background-color: #f7c94b;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.hero-text button:hover {
  background-color: #e0b13f;
}

/* IMAGEN */
.hero-img {
  width: 600px;
}
 
.footer {
  width: 100%;
  background: #5b2dd1; /* el violeta que ya usás */
  padding: 20px 0;
  margin-top: 60px;
  border-top: none;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  text-align: center;   /* <<< CENTRA EL TEXTO */
}

.footer-content p {
  margin: 0;
  color: white;
  font-size: 16px;
}